:root {
    --col_col1_positive: #0479d3;
    --col_col2_negativ: #fc4242;
    --col_back_default: #eaeaea;
    --col_lightest: white;
    --col_border_light: #ececec;
    --col_back_body: #f4f4f4;
    --col_back_card: white;
    --col_default_text: black;
    --col_light_text: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}

.dark-theme {
    --col_back_default: black;
    --col_lightest: rgb(63, 63, 63);
    --col_border_light: #797979;
    --col_back_body: #1a1a1a;
    --col_back_card: #6d6d6d;
    --col_default_text: white;
    --col_light_text: rgb(218, 218, 218);
}

p {
    color: var(--col_default_text);
}

h1 {
    color: var(--col_default_text);
}

/* ---main layout with gridbox--- */
.main-body-container {
    padding: 10px;
    height: 100vh;
    display: grid;
    background-color: var(--col_back_body);
    grid-template-columns: auto;
    grid-template-rows: 40px auto 30px;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

.header {
    padding-left: 5px;
    grid-area: header;
    background-color: var(--col_lightest);
    display: inline-block;
}

.content {
    grid-area: content;
    background-color: var(--col_back_body);
}

.footer {
    padding-left: 5px;
    grid-area: footer;
    background-color: var(--col_lightest);
    border-top: 5px solid var(--col_col1_positive);
}

/* --/main layout with gridbox--- */

/* -- header -- */
.header .options {
    float: right;
    height: 100%;
}

.header h1 {
    float: left;
    font-size: 1.5rem;
}

.header select {
    border: none;
    border-left: 3px solid var(--col_border_light);
    background-color: var(--col_col1_positive);
    color: var(--col_light_text);
    padding-left: 5px;
    width: 150px;
}

.header select:active, select:hover {
    background-color: var(--col_border_light);
    color: var(--col_default_text);
}
